doctype html
html(lang='en')
  head
    title How Bronze Are You?
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='stylesheets/style.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='./javascripts/main.js')
  body.comic-sans
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') How Bronze Are You?
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='https://github.com/Draycia/HowBronzeAreYou') Github
        ul.nav.navbar-nav.navbar-right
          a(href='#')
            form#inputForm.navbar-form.navbar-left(action='/', method='GET')
              .input-group
                input#inputSummoner.search-query.form-control(type='text', placeholder='Search', name='summonerName')
                |     
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    i.glyphicon.glyphicon-search
              select#inputRegion.form-control.fix-region-button(name='region')
                option(selected='', value='na') NA
                option(value='euw') EUW
    .container
      .text-center
        p Have you ever wondered how bronze you are? How bronze your friends are? Want to see who's more bronze? You might've come to the right place.<br>Remember: everybody is bronze, but not everyone is equally bronze.
    footer.text-center.footer-absolute How Bronze Are You? isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.